
h1, .title2 {
  padding-bottom: 30px
}
#nameinput {
  display: block;
  text-align: center;
}

#sidebar {
float:left;
width:250px;
margin-top: 45px;

padding: 3px;
padding: 3px;
border: 3px solid green;
border-radius: 15px 50px;
background-color: white;
opacity: 0.9;
box-shadow: 10px 10px 5px #888888;
}
#nav {
  text-shadow:1.5px 1.5px green;
  text-align: center;
  color: black;
  font-size: 25px;
  margin-bottom: -8px;
  margin-top: 10px;
}
#sidebaritems {
  font-size: 20px;
}
table, td {
  border: 3px solid green;
}
th {
  text-align:center;
}
