<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="intouch.css">
    <title> Your Classes </title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/">Home</a>
      <a> Class Schedule</a>
      <ul>
          <li><a href="/classschedule">Add Class</a></li>
          <li><a href="/classlist"> View Schedule</a> <li>
      </ul>
      <a> Contacts</a>
      <ul>
        <li> <a href="/input"> Add Contact </a></li>
        <li> <a href="/edit"> Edit Contact </a> </li>
        <li> <a href="/info"> View Contact</a></li>
      </ul>

      <a> Notes</a>
      <ul>
        <li> <a href = "/inputnotes"> Add Note </a></li>
        <li> <a href="/notes"> View Notes </a></li>
      </ul>
  </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
    </div>
    <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
      }
      </script>
    <h1> Your Classes </h1>
    <p id ="classlist"> {{classes}} </p>
</div>
</body>

</html>
