<!DOCTYPE html>
<html>
  <head>
    <title> Class Schedule </title>
    <link rel="stylesheet" href="intouch.css">
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/">Home</a>
      <a> Class Schedule</a>
      <ul>
          <li><a href="/classschedule">Add Class</a></li>
          <li><a href="/classlist"> View Schedule</a> <li>
      </ul>
      <a> Contacts</a>
      <ul>
        <li> <a href="/input"> Add Contact </a></li>
        <li> <a href="/edit"> Edit Contact </a> </li>
        <li> <a href="/info"> View Contact</a></li>
      </ul>

      <a> Notes</a>
      <ul>
        <li> <a href = "/inputnotes"> Add Note </a></li>
        <li> <a href="/notes"> View Notes </a></li>
      </ul>
  </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
    </div>

    <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
      }
    </script>
    <h1> Class Schedule </h1>
    <h2> Add Entries </h2>
    <div id = "classlist">
      <form action = "/classlist" input="text" method="post">
        <p >
          Class info: <br>
          Enter class name:
          <input type="text" name="className"><br>
          Enter the room number:
          <input type="text" name="roomNumber"><br>
          Enter the days and times that you have the class:
          <input type="text" name="classTime"><br>
        </p>
        <input type="submit" value="Submit">
        <a href ="/classlist"> Class Schedule</a>
      </form>
    </div>
  </body>
</html>
