<!DOCTYPE html>
<html>
  <head>
    <title> Class Schedule </title>
    <link rel="stylesheet" href="intouch.css">
  </head>
  <body>
  <h1> Class Schedule </h1>
  <h2> Add Entries </h2>
<form action = "/classlist" input="text" method="post">
  <p>
    Class #1 <br>
    Enter class name:
    <input type="text" name="className"><br>
    Enter the room number:
    <input type="text" name="roomNumber"><br>
    Enter the days and times that you have the class:
    <input type="text" name="classTime"><br>
  </p>
  <input type="submit" value="Submit">
  <a href ="/classlist"> Class Schedule</a>

</form>



  </body>


















</html>
