<!DOCTYPE html>
<html>
  <head>
    <title> Your Classes </title>
    <link rel="stylesheet" href="intouch.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="/" class="font">HOME</a>
      <a href="/classlist">SCHEDULE</a>
      <ul>
          <li><a href="/classschedule">Add Class</a></li>
          <li><a href="/classlist"> View Schedule</a> <li>
      </ul>
      <a href="/info">CONTACTS</a>
      <ul>
        <li><a href="/input">add</a></li>
        <li><a href="/edit">edit</a></li>
        <li><a href="/info">view</a></li>
      </ul>
      <a href="/inputnotes">NOTES</a>
      <ul>
        <li> <a href = "/inputnotes"> Add Note </a></li>
        <li> <a href="/notes"> View Notes </a></li>
      </ul>
    </div>
    <div id="main">
      <span style="font-size:30px;cursor:pointer" id="menu">☰ Menu</span>
    </div>

    <br>

    <h1> Classes </h1>
    <p id ="classlist"> {{ classes }} </p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="navigation.js"></script>
  </body>
</html>
