<!DOCTYPE html>
<html>
  <head>
    <title> In Touch - Edit</title>
    <link rel="stylesheet" href="intouch.css">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/">Home</a>
      <a href="/classlist">Class Schedule</a>
      <a href="/info"> Contacts</a>
      <a href="/inputnotes">Notes</a>

    </div>

      <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
      </div>

      <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
      }
      </script>
    <h1> Edit Contacts </h1>

    <form action="/edit" input="text" method="post">

      <h2> Contact:</h2>

      <p id = "contactsedit">
        Enter contact name:
        <input type="text" name="contactName"><br>
        Enter phone number:
        <input type="text" name="phoneNumber"><br>
        How many times have you contacted the above relative/friend?
        <input type="text" name="numberOfCalls"><br>
        When was the last time you contacted the above relative/friend?
        <input type="date" name="dateOfLastCall"><br>
        How many days from now would you like a reminder?
        <input type="text" name="reminder">
      </p>

      <input type="submit" value="Edit">

    </form>
    <br>
    <div>
      <a href="/">Home<a><br>
      <a href="/input">Add Contacts</a><br>
      <a href="/edit">Edit Contacts<a><br>
      <a href="/info">View Contacts<a><br>
    </div>
  </body>
</html>
