<!DOCTYPE html>
<html>
  <head>
    <title> In Touch - Edit</title>
    <link rel="stylesheet" href="intouch.css">
  </head>

  <body>
    <h1> Edit Contacts </h1>

    <form action="/edit" input="text" method="post">

      <h2> Contact:</h2>

      <p>
        Enter contact name:
        <input type="text" name="contactName"><br>
        Enter phone number:
        <input type="text" name="phoneNumber"><br>
        How many times have you contacted the above relative/friend?
        <input type="text" name="numberOfCalls"><br>
        When was the last time you contacted the above relative/friend?
        <input type="date" name="dateOfLastCall"><br>
        How many days from now would you like a reminder?
        <input type="text" name="reminder">
      </p>

      <input type="submit" value="Edit">

    </form>
    <br>
    <div>
      <a href="/">Home<a><br>
      <a href="/input">Add Contacts</a><br>
      <a href="/edit">Edit Contacts<a><br>
      <a href="/info">View Contacts<a><br>
    </div>
  </body>
</html>
