<!DOCTYPE html>

<html>
<head>
  <title>In Touch</title>
  <link rel="stylesheet" href="intouch.css">
</head>

<body>
  <h1> In Touch </h1>
  <h2> Helping you keep in touch with those you care about... </h2>

  <form id = "nameinput" action="/input" input="text" method="post"> <!-- <form class = "forms" action="blogsite.html" method="post"> -->
    Enter name:
    <input type="text" name="userName">
    <input type="submit" value="Submit">
  </form>
  <div id = "sidebar">
    <p id = "nav"> Navigation</p>
    <ul id = "sidebaritems">
      <li> <a href ="/classschedule"> Class Schedule</a> </li>
        <li> Your Notes </li>
    </ul>
  </div>
</body>
</html>
