<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" href="intouch.css">
  </head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Home</a>
    <a href="/classlist">Class Schedule</a>
    <a href="/info"> Contacts</a>
    <a href="/inputnotes">Notes</a>

  </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
    </div>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
    </script>
    <div>
      <a href="/">Home<a><br>
      <a href="/input">Add Contacts</a><br>
      <a href="/edit">Edit Contacts<a><br>
      <a href="/info">View Contacts<a><br>
    </div>
    <div id = "contactsinfo">
      <h1> {{ contactName }} </h1>
      <p> {{ phoneNumber }} </p>
      <p> {{ numberOfCalls }} </p>
      <p> {{ dateOfLastCall }} </p>
    </div>


  </body>
</html>
