<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <link rel="stylesheet" href="intouch.css">
</head>
<body>
  <div id = "contactsinfo">
    <p> Name: {{ contactName }} </p>
    <p> Number: {{ phoneNumber }} </p>
    <p> Number of Calls: {{ numberOfCalls }} </p>
    <p> Date of Last Call: {{ dateOfLastCall }} </p><br>
  </div>
</body>
</html>


    <!-- <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
      }
    </script> -->
