<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" href="intouch.css">
  </head>

  <body>
    <div>
      <a href="/">Home<a><br>
      <a href="/input">Add Contacts</a><br>
      <a href="/edit">Edit Contacts<a><br>
      <a href="/info">View Contacts<a><br>
    </div>
    <div id = "contactsinfo">
      <h1> {{ contactName }} </h1>
      <p> {{ phoneNumber }} </p>
      <p> {{ numberOfCalls }} </p>
      <p> {{ dateOfLastCall }} </p>
    </div>


  </body>
</html>
