<!DOCTYPE html>
<html>
  <head>
    <title> In Touch - Entries</title>
    <link rel="stylesheet" href="intouch.css">
  </head>

  <body>
    <h1> Input Contacts </h1><br>

    <form action="/input" input="text" method="post">

      <h2> Contact:</h2>

      <p>
        Enter contact name:
        <input type="text" name="contactName"><br>
        Enter phone number:
        <input type="text" name="phoneNumber"><br>
        How many times have you contacted the above relative/friend?
        <input type="text" name="numberOfCalls"><br>
        When was the last time you contacted the above relative/friend?
        <input type="text" name="dateOfLastCall"><br>
        <!-- How many minutes have you phoned this person?<br> -->
      </p>

      <input type="submit" value="Add">

    </form>
    <br>
    <div>
      <a href="/">Home<a><br>
      <a href="/input">Add Contacts</a><br>
      <a href="/edit">Edit Contacts<a><br>
      <a href="/info">View Contacts<a><br>
    </div>

  </body>
</html>
