<!DOCTYPE html>
<html>
<head>
<title> Input Notes </title>
<link rel="stylesheet" href="intouch.css">
</head>

<body>
  <div id="mySidenav" class="sidenav">

    <a href="/" class="font">HOME</a>
    <a href="/classlist">SCHEDULE</a>
    <ul>
        <li><a href="/classschedule">Add Class</a></li>
        <li><a href="/classlist"> View Schedule</a> <li>
    </ul>
    <a href="/info">CONTACTS</a>
    <ul>
      <li><a href="/input">add</a></li>
      <li><a href="/edit">edit</a></li>
      <li><a href="/info">view</a></li>
    </ul>
    <a href="/inputnotes">NOTES</a>
    <ul>
      <li> <a href = "/inputnotes"> Add Note </a></li>
      <li> <a href="/notes"> View Notes </a></li>
    </ul>
  </div>

  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
  </div>

  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
  }
  </script>


  <h1> Input Your Notes </h1>

  <div id="inputnoteform">
  <form action="/inputnotes" input="text" method="post">
      Enter note title:
      <input type="text" name="noteTitle"><br>
      Enter note contents:
      <input type="text" name="noteContent"><br>
  <input type="submit" value="Add">

  </form>
  <br>
  <a href ="/notes"> My Notes</a>

  </div>

</body>










</html>
