<!DOCTYPE html>
<html>
  <head>
    <title> Enter Contact</title>
    <link rel="stylesheet" href="intouch.css">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/">Home</a>
      <a> Class Schedule</a>
      <ul>
          <li><a href="/classschedule">Add Class</a></li>
          <li><a href="/classlist"> View Schedule</a> <li>
      </ul>
      <a> Contacts</a>
      <ul>
        <li> <a href="/input"> Add Contact </a></li>
        <li> <a href="/edit"> Edit Contact </a> </li>
        <li> <a href="/info"> View Contact</a></li>
      </ul>

      <a> Notes</a>
      <ul>
        <li> <a href = "/inputnotes"> Add Note </a></li>
        <li> <a href="/notes"> View Notes </a></li>
      </ul>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
    </div>

    <h1> Input Contacts </h1><br>
    <h2> Contact:</h2>

    <div id="contactinput">
      <form action="/input" input="text" method="post">
          Enter contact name:
          <input type="text" name="contactName" class="inputbox"><br>
          Enter phone number:
          <input type="number" name="phoneNumber" class="inputbox"><br>
          How many times have you contacted the above relative/friend?
          <input type="number" name="numberOfCalls" class="inputbox"><br>
          When was the last time you contacted the above relative/friend?
          <input type="date" name="dateOfLastCall" class="inputbox"><br>
          How many days from now would you like a reminder?
          <input type="text" name="reminder" class="inputbox">
          <input type="submit" value="Add">
      </form><br>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="navigation.js"></script>
  </body>
</html>
