<!DOCTYPE html>
<html>
  <head>
    <title> Enter Contact</title>
    <link rel="stylesheet" href="intouch.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn"></a>
      <a href="/" class="font">HOME</a>
      <a href="/classlist">SCHEDULE</a>
      <a href="/info">CONTACTS</a>
      <ul class="no_bullets">
        <li><a href="/input">add</a></li>
        <li><a href="/edit">edit</a></li>
        <li><a href="/info">view</a></li>
      </ul>
      <a href="/inputnotes">NOTES</a>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" id="menu">☰ Menu</span>
    </div>

    <h1> Input Contacts </h1><br>
    <h2> Contact:</h2>

    <div id="contactinput">
      <form action="/input" input="text" method="post">
          Enter contact name:
          <input type="text" name="contactName" class="inputbox"><br>
          Enter phone number:
          <input type="number" name="phoneNumber" class="inputbox"><br>
          How many times have you contacted the above relative/friend?
          <input type="number" name="numberOfCalls" class="inputbox"><br>
          When was the last time you contacted the above relative/friend?
          <input type="date" name="dateOfLastCall" class="inputbox"><br>
          How many days from now would you like a reminder?
          <input type="text" name="reminder" class="inputbox"><br>
          <input type="submit" value="Add">
      </form><br>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="navigation.js"></script>
  </body>
</html>
