<!DOCTYPE html>
<html>
  <head>
    <title> Your Notes </title>
    <link rel="stylesheet" href="intouch.css">
  <head>
  <body>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/">Home</a>
      <a href="/classlist">Class Schedule</a>
      <a href="/info"> Contacts</a>
      <a href="/inputnotes">Notes</a>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ Menu</span>
    </div>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
    </script>

    <h1> Your Notes </h1>

      <p> {{notes}}</p>
    </body>

</html>
