<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" id="close" >×</a>
      <a href="/">Home</a>
      <a href="/classlist">Class Schedule</a>
      <a href="/info"> Contacts</a>
      <a href="/inputnotes">Notes</a>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" id="open">☰ Menu</span>
    </div>

    <h1> Name of App </h1>
    <h2> Select an option to get started! </h2>

    <!-- <div id = "sidebar">
      <p id = "nav"> Navigation</p>
      <ul id = "sidebaritems">
        <li><a href ="/classschedule">Class Schedule</a></li>
        <li>Contacts
          <ul>
            <li><a href="/input">Add Contacts</a></li>
            <li><a href="/edit">Edit Contacts<a></li>
            <li><a href="/info">View Contacts<a></li>
          </ul>
        <li> <a href="/notes"> Notes </a>
      </ul>
      </ul>
    </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="navigation.js"></script>
  </body>
</html>
