<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>

    <h1> Name of App </h1>
    <h2> Select an option to get started! </h2>

    <!-- <div>
      <a href="/input">Add Contacts</a><br>
      <a href="/edit">Edit Contacts<a><br>
      <a href="/info">View Contacts<a><br>
    </div> -->

    <div id = "sidebar">
      <p id = "nav"> Navigation</p>
      <ul id = "sidebaritems">
        <li><a href ="/classschedule"> Class Schedule</a></li>
        <li>Contacts
          <ul>
            <li><a href="/input">Add Contacts</a></li>
            <li><a href="/edit">Edit Contacts<a></li>
            <li><a href="/info">View Contacts<a></li>
          </ul>
        </li>
        <li> Your Notes </li>
      </ul>
    </div>

  </body>
</html>
